<div class="container">
  <div class="row justify-content-end mb-2">
    <!--show differernt slogen if current_user-->
    <% if user_signed_in? %>
    <div class="col-2 float-right">
      <%= link_to 'Ask Question', new_question_path, class:"btn btn-primary" %>
    </div>
    <% else %>
    <h4><%= "If you want to ask something, you need to login in." %></h4>
    <% end %>
  </div>

  <!--Question list-->
  <ul class="list-group list-group-flush">
    <% @questions.each do |question| %>
      <li class="list-group-item">
        <div class="row">
          <!-- interactive counter -->
          <div class="col-1 fa-3x">
            <span class="fa-layers fa-fw" data-toggle="tooltip" title="Upvotes">
          <i class="far fa-thumbs-up text-secondary"></i>
          <span class="fa-layers-counter" style="background:Tomato">19</span>
            </span>
          </div>
          <div class="col-1 fa-3x">
            <span class="fa-layers fa-fw data-toggle=" tooltip " title="Tracks "">
        <i class="far fa-star text-secondary"></i>
        <span class="fa-layers-counter" style="background:Tomato">419</span>
            </span>
          </div>
          <div class="col-1 fa-3x">
            <span class="fa-layers fa-fw data-toggle=" tooltip " title="Answers "">
        <i class="fab fa-replyd text-secondary"></i>
        <span class="fa-layers-counter" style="background:Tomato">1</span>
            </span>
          </div>
          <!-- Question -->
          <div class="col-9">
            <h2 class="text-primary m1-2"><%= link_to question.title, question_path(question) %></h2>
            <p>
              <%= truncate(question.content, length: 100) %>
            </p>
            <footer class="blockquote-footer float-right">before <%= time_ago_in_words(question.created_at) %> ago
            <p><%= question.user.name %> </p>
            </footer>
            <% end %>
          </div>
        </div>
      </li>
  </ul>