<div class="container">

  <div class="card mb-2">
    <h5 class="card-header text-center"><%= @question.title %></h5>
    <div class="card-body">
      
      <div class="row">
        <div class="col-3 col-sm-2 fa-3x text-center">
        <!--upvotes counter/button-->
        <% if @question.is_upvoted?(current_user) %>
          <%= link_to unupvote_question_path(id: @question.id), method: :post, style:"text-decoration:none;" do %>
          <span class="fa-layers fa-fw" data-toggle="tooltip" title="Recall your upvote">
            <i class="fas fa-thumbs-up text-primary counter"></i>
            <span class="fa-layers-counter" style="background:Tomato">
              <%= @question.upvotes_count  %>
            </span>
          </span>
          <% end %>
        <% else %>  
            <%= link_to upvote_question_path(id: @question.id), method: :post, style:"text-decoration:none;" do %>
            <span class="fa-layers fa-fw" data-toggle="tooltip" title="Upvote it">
              <i class="far fa-thumbs-up text-secondary counter"></i>
              <span class="fa-layers-counter" style="background:Tomato">
                <%= @question.upvotes_count  %>
              </span>
            </span>
          <% end %>
        <% end %> 
          <br/>

          <!--favorite counter/button-->
          <% if @question.is_favorited?(current_user) %>
            <%= link_to unfavorite_question_path(id: @question.id), method: :post, style:"text-decoration:none;" do %>
              <span class="fa-layers fa-fw" data-toggle="tooltip" title="Cancel favorite">
                <i class="fas fa-star text-primary counter"></i>
                <span class="fa-layers-counter" style="background:Tomato">
                  <%= @question.favorites_count  %>
                </span> 
              </span> 
            <% end %>
          <% else %>  
            <%= link_to favorite_question_path(id: @question.id), method: :post, style:"text-decoration:none;" do %>
              <span class="fa-layers fa-fw" data-toggle="tooltip" title="Favorite">
                <i class="far fa-star text-secondary counter"></i>
                <span class="fa-layers-counter" style="background:Tomato">
                  <%= @question.favorites_count  %>
                </span> 
              </span>
            <% end %>
          <% end %>
          <br/>

          <!--solution counter/button-->
          <% if current_user %>
            <a href="#solution" style="text-decoration:none;">
              <span class="fa-layers fa-fw" data-toggle=" tooltip " title="Answer it">
                <i class="fab fa-replyd text-secondary counter"></i>
                <span class="fa-layers-counter" style="background:Tomato">
                  <%= @question.solutions_count  %>
                </span>
              </span>
            </a>
            <br>
          <% end %>
        </div>
        <!--Question Detail-->
        <div class="col-9 col-sm-10">
          <blockquote class="blockquote mb-0">
            <p><%= @question.content %></p>
            <footer class="blockquote-footer float-right">asked at
              <%= @question.created_at.strftime("%Y-%m-%d, %H:%M") %>
              <cite title="Source Title">
                <%= link_to @question.user.name, user_path(@question.user) %>
              </cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-header text-center">
      <h5>Answers to question</h5>
    </div>
    <ul class="list-group list-group-flush">
    <!--Solutions list-->
      <% @solutions.each do |solution| %>
      <li class="list-group-item">
        <div class="row media">
          <div class="col-2 fa-3x align-self-center">
            <span class="fa-layers fa-fw" data-toggle="tooltip" title="Upvotes the solution">
              <i class="far fa-thumbs-up text-secondary"></i>
              <span class="fa-layers-counter" style="background:Tomato">
                <%= solution.upvotes_count  %>
              </span>
            </span>
          </div>
          <div class="col-10 media-body">
            <blockquote class="blockquote mb-0">
              <p>
                <%= solution.content %>
              </p>
              <footer class="blockquote-footer float-right">ansered at
                <%= solution.created_at.strftime("%Y-%m-%d, %H:%M") %>
                  <cite title="Source Title">
                    <%= link_to solution.user.name, user_path(solution.user) %>
                  </cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </li>
     <% end %>
    </ul>
  </div>

  <!--Anser the question form-->
  <% if current_user %>
    <%= form_for [ @question, @solution ] do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit "Answer it" %>
  <% else %>
    <p> You need to log in. <P>
  <% end %>
</div>
