<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h5>Forgot your password?</h5>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= devise_error_messages! %>
      </div>
      <div class="form-group">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>  
      <div class="form-group">
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "btn btn-outline-primary" %>
        </div>
      </div>  
      <% end %>
       <ul class="list-inline">
          <li class="list-inline-item">
            <%= render "devise/shared/links" %>
        <!--ul and li end are in shared/links-->    
    </div>
  </div>
</div>    