<li class="list-group-item">
  <div class="row">
    <!--upvotes counter-->
    <div class="col-3">
      <ul class="list-inline">
        <li class="list-inline-item">
          <div class="counter p-1">
            <h5 class="m-0"><%= question.upvotes_count %></h5>
            upvotes
          </div>
        </li>
      <!--solutions counter-->
        <li class="list-inline-item">
          <div class="counter p-1 <%= 'border border-success rounded ' if question.solutions_count > 0 %> <%= 'bg-success text-white' if question.solutions_count > 1 %>"> 
            <h5 class="m-0"><%= question.solutions_count %></h5>
            answers
          </div>
        </li>
        <!--favorites counter-->
        <li class="list-inline-item">
          <div class="counter p-1">
            <h5 class="m-0"><%= question.favorites_count %></h5>
            fevorites
          </div>
        </li>
      </ul>
    </div>
    <!-- Question -->
    <div class="col-9">
      <h5 class="text-primary m1-2"><%= link_to question.title, question_path(question) %></h5>
        <%= truncate(question.content, length: 100) %>
      <footer class="blockquote-footer float-right">asked by <%= link_to question.user.name, user_path(question.user) %> 
        <cite title="Source Title"><%= time_ago_in_words question.created_at %> ago</cite>
      </footer>
    </div>
  </div>
</li>