<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflowKh</title>
    <meta name= 'viewport' content= 'width=devise-width, initial-scale=1.0'>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
  </head>

  <body>
    <%# nav bar %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #e3f2fd;">
      <%= link_to'<i class="fab fa-stack-overflow fa-2x"></i> StackOverflowKh'.html_safe, root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%# search %>
      <nav class="navbar navbar-dark bg-dark">
        <%= form_tag'/questions/hashtag/:name', method: :get, class:"form-inline" do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search"%>
        <% end %>
      </nav>
      <%# link items %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
        <% if current_user %>  
          <li class="nav-item">
            <span class="navbar-text">
              Hi! <%= current_user.name %> 
              &nbsp;
            </span>
          </li>
          <li class="nav-item">
            <%= link_to'<i class="fas fa-user fa-lg"></i>&nbsp;Profile'.html_safe, user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fas fa-star fa-lg"></i> Favorite'.html_safe, favorite_user_path(current_user), class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fas fa-sign-out-alt fa-lg"></i> Logout'.html_safe, destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <span class="navbar-text">Hi! Guest&nbsp;</span>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fas fa-user-plus fa-lg"></i> Sign Up'.html_safe, new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fas fa-sign-in-alt fa-lg"></i> Sign In'.html_safe, new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>  
        </ul>
      </div>
    </nav>   
    
    <!-- 用flash提示action訊息 -->
      <% if flash[:notice] %>
        <div class="container">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>

      <!-- 用flash提示錯誤警告訊息 -->
      <% if flash[:alert] %>
        <div class="container">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>    

      <!-- 呼叫action對應之html.erb -->
    <%= yield %>
  </body>
</html>
